section{
    background: rgb(246, 246, 248);
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    width: 500px;
    text-align: center;
    box-shadow: 1px 1px 1px rgb(75, 74, 74);
}
h1{
    text-align: center;
}
div{
    text-align: center;
}
body{
    background: rgb(2, 2, 250);
}